<template name="layout">

{{> UI.dynamic template=css}}
  <div class="outer-wrapper {{currentPage}}">
    {{> UI.dynamic template=mobile_nav}}
    <div class="inner-wrapper template-{{pageName}}">
      <div class="PreviousNext Previous">
        <a class="GotoPrevious" href="#">&lang;</a>
      </div>
      <div class="PreviousNext Next">
        <a class="GotoNext" href="#">&rang;</a>
      </div>
      {{> UI.dynamic template=nav}}
      <div id="mainContent" class="content-wrapper">
        {{> UI.dynamic template=error}}
        {{#each heroModules}}
          {{> UI.dynamic template=getTemplate}}
        {{/each}}
        {{> yield}}
        {{> UI.dynamic template=footer}}
      </div>
      <div class="overlay hidden"></div>
    </div>
    {{{extraCode}}}
  </div>
</template>
