.post_item:hover{
    text-decoration: none !important;
}
.post_item:hover a{
    text-decoration: none !important;
}
.post_item:hover h3 a{
    text-decoration: none !important;
}
.post_item:hover > h3 > a{
    text-decoration: none !important;
}
.post_item:hover h3 > a{
    text-decoration: none !important;
}
.post_item{
    text-decoration: none !important;
}
.post_item a:visited{
    text-decoration: none !important;
}
.post_item h3 a:visited{
    text-decoration: none !important;
}
.post_item > h3 > a:visited{
    text-decoration: none !important;
}
.post_item h3 > a:visited{
    text-decoration: none !important;
}
